---
layout: default
---

<div class="container">
  <!-- begin author -->
  <section class="author" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
    <div class="author__inner">
        <img src="{{site.baseurl}}{{site.author.image}}" alt="{{site.author.name}}" class="author__img">
        <div class="author__intro">
            <h3 class="author__bio">I’m <b style="color: #de235d;">George Larkwright</b>, and I’m a game designer and writer with an enthusiasm for crafting unique and meaningful playable experiences.</h3>
            <p class="author__more">I make games that use play to educate and inform, that tell stories in new and dynamic ways, and that push the boundaries of the medium. I am adept at generating innovative ideas, prototyping features and mechanics, and documenting design processes as part of a larger team.<br/><br/>
                <b><a href="mailto:george.larkwright@gmail.com">&#8618; Contact me via email: george.larkwright@gmail.com</a></b></p>
        </div>
    </div>
  </section>
  <!-- end author -->
</div>

<div class="container">
    <div class="article__header" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="800">
        <h1>Selected Projects</h1>
    </div>
  {% if site.posts.size > 0 %}
    {% for post in site.posts %}
        {% if post.feature == true %}
            <div class="article" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="800">
              {% if post.image %}
              <div class="article__image-box">
                <a href="{{post.url | prepend: site.baseurl}}" class="article__image" style="background-image: url({{site.baseurl}}{{post.image}})"></a>
              </div>
              {% endif %}
              <div class="article__content">
                <h2 class="article__title">
                  <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
                </h2>
                <p class="article__excerpt">{{ post.subtitle }}
                    <br/><br/>
                    {{ post.description }}</p>
                  <div class="actions"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.CTA }}</a></div>
              </div>
            </div>
        {% endif %}
    {% endfor %}
  {% endif %}
</div>
