<div class="container">
  <!-- begin footer -->
  <footer class="footer">
    <div class="footer__inner">
      <div class="contact">
        <div class="contact__title">© George Larkwright 2020.</div>
        <ul class="contact__list list-reset">
            <a href="mailto:george.larkwright@gmail.com"><i class="fa fa-envelope-square fa-2x"></i></a>
            <a href="https://twitter.com/Larkwrighter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
        </ul>
      </div>
    </div>
  </footer>
  <!-- end footer -->
</div>
