<header class="site-header">

  <div class="navbarwrapper">

    <nav class="site-nav">

      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
        <a class="page-link" href="{{ site.baseurl }}/">about</a>
        <a class="page-link" href="/projects/">projects</a>
        <a class="page-link" href="/blog/">blog</a>
        <a class="page-link" target="_blank" href="https://thelarkwrightproject.blogspot.com/">scrapbook</a>
        <!--{% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}-->

      </div>
    </nav>

  </div>

</header>
