
/**
 * Site header   **********************************************************
 */


//Hides scrollbar.
//html { overflow-y: hidden; }

.site-header {
//border-bottom: 1px solid $grey-color-light;
background-color: $larkwright_pink;
background-image: url(/img/header.png);
opacity: 1;
position:fixed;
left:0px;
top:0px;
height:72px;
width:100%;
z-index: 50;
}

.site-title {
font-size: 20px;
line-height: $nav-height;
letter-spacing: -1px;
margin-bottom: 0;
&:hover {
text-decoration: none;
color: $theme-color;
    }
}
.site-nav {
//font-size: calc(14px + (36 - 14) * ((100vw - 300px) / (1600 - 300)));
//line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
line-height: $nav-height;
font-size: 36px;
margin-top: 5px;
text-align: center;
.page-link{
color: #fff;
font-family: 'Fredoka One', cursive;
    a {
    &:hover {
        color: darken($larkwright_pink, 10%);
        text-decoration: none;
    }
}
line-height: $base-line-height;
        // Gaps between nav items, but not on the first one
&:not(:first-child) {
margin-left: 40px;
        }
    }
    @media only screen and (max-width: 1200px) {
        font-size: calc(17px + (36 - 18) * ((100vw - 300px) / (1600 - 300))); // Automatically reduces text size between 36px and 17px depending on side of the window.
        position: sticky;
        line-height: 2px;
        margin-top: 20px;
    }
/*@include media-query($on-palm) {
position: fixed;
top: 0px;
right: 10px;
text-align: right;
&:hover .trigger {
display: block;
padding-bottom: 5px;
        }
.page-link {
display: line;
        }
    }*/
}

.header-bar{
    left: 0px;
    top: 0px;
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    //padding-bottom: 5px;
    line-height: 5em;
    z-index: 25;
    h1{
        color: $larkwright_pink;
        font-size:75px;
        font-family: 'Fredoka One', cursive;
        @media only screen and (max-width: 1200px) {
           font-size:68px;
        }
    }
    h2{
        font-size:25px;
        font-family: 'Fredoka One', cursive;
        line-height: 3em;
        @media only screen and (max-width: 1200px) {
            font-size:20px;
            line-height: 1.7em;
        }
    }
    img{
        @media only screen and (max-width:1200px) {
            margin-top:25px
        }
    }
}

/**
 * Site footer  **********************************************************
 */
.site-footer {
border-top: 1px solid $grey-color-dark;
font-size: 10px;
background-color: $grey-color-dark;
padding: 2px;
color: #aaa;
position:fixed;
left:0px;
bottom:0px;
width:100%;
}

.site-footer p {
    margin-bottom: 0; // Remove margin set in _sass/_base.scss for vertical rythm
}

/**
 * Pagination   **********************************************************
 */
.pagination{
max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
text-align: center;
width: 100%;
position: fixed;
bottom: 50px;
}
.paginationicon {
font-size: 50px;
a {
color: $theme-color;
    }
}
/**
 * Page content   **********************************************************
 */
.page-content {
padding: 100px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
    a {
    color: $larkwright_pink;
    //text-decoration: underline;
    font-weight: bold;
    /*
    &:visited {
        color: darken($brand-color, 15%);
    }
    */
    &:hover {
        color: darken($larkwright_pink, 10%);
        text-decoration: none;
    }
}
}
.page-heading {
font-size: 20px;
font-family: 'Fredoka One', cursive;
}
.post-list {
margin: 0px 0;
list-style: none;
    > li {
margin-bottom: $vertical-spacing-unit;
text-align: left;
    }
}
.contacticon {
font-size: 60px;
display:block;
//margin: 10px;
}
.center{
text-align: center;
}
/**
 * Posts  **********************************************************
 */
.post-header {
margin-bottom: $vertical-spacing-unit;
}
.page-header {
font-size: 50px;
letter-spacing: -1px;
line-height: 1;
@include media-query($on-laptop) {
font-size: 36px;
    }
}
.blog-header {
font-size: 36px;
letter-spacing: -1px;
line-height: 1;
width:80%;
margin-left:10%;
padding-bottom: 10px;
@include media-query($on-laptop) {
font-size: 30px;
    }
}
.post-title {
font-size: 26px;
letter-spacing: -1px;
line-height: 1;
    float: left;
@include media-query($on-laptop) {
font-size: 18px;
    }
}
.post-content {
h2 {
font-size: 42px;
@include media-query($on-laptop) {
font-size: 28px;
        }
    }
h3 {
font-size: 30px;
@include media-query($on-laptop) {
font-size: 22px;
        }
    }
h4 {
font-size: 20px;
@include media-query($on-laptop) {
font-size: 18px;
        }
    }
}
.post-meta {
float: left;
font-size: $small-font-size;
color: $grey-color;
margin-bottom: 0px;
}
.post-link {
display: block;
font-size: 42px;
}

/** Poem formatting ********************************************/
.poem-title {
font-size: 24px;
letter-spacing: -1px;
line-height: 1;
@include media-query($on-laptop) {
font-size: 16px;
    }
}


/**
 * Portfolio grid **********************************************************
*/
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.project {
width: 33.33%;
height: auto;
float: left;
vertical-align: middle;
box-sizing: border-box;
padding: 10px;
    @media only screen and (max-width: 1200px) {
    width: 50%;
    }
    @media only screen and (max-width: 800px) {
    width: 300px;
    }
}
.thumbnail {
width: 100%;
height: 100%;
object-fit: cover;
object-position: top;
overflow: hidden;
position: absolute;
    @media only screen and (max-width: 600px) {
        align-content: center;
    }
}

.thumbnail a {
float: left;
position: relative;
width: 100%;
height: 100%;
}

.categorybar {
width: 75%;
height: 20px;
vertical-align: middle;
float: left;
padding-top: 5px;
padding-left: 10px;
padding-bottom: 30px;

        h3{
        font-size:30px;
        font-family: 'Fredoka One', cursive;
        text-align: left;
        padding-bottom: 13.5px;
        border-bottom-style: solid;
        border-bottom-width: 3.5px;
            @media only screen and (max-width: 1200px) {
                font-size:26px;
            }
            @media only screen and (max-width: 600px) {
                font-size:20px;
                line-height: 2em;
                padding-bottom: 0px;
            }
    }
}
/**
 * Portfolio pages **********************************************************
*/
.blankbox{
background: $theme-color;
}
.row {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  @media only screen and (max-width: 1200px) {
    -webkit-display: flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
.col{
width: 100%;
height: 100%;
float: left;
object-fit: cover;
box-sizing:border-box;
padding: $img_spacing;
}
.right{
float: right;
}
.one {
width:33.33%;
}
.two {
width: 66.66%;
}
.three{
width: 100%;
}
.half {
width: 50%;
height: 100%;
padding-top: 1%;
overflow: hidden;
   h3 {
     font-size: 36px;
     color: $larkwright_pink
   }
   @media only screen and (max-width: 1200px) {
   width: 100%;
   h3 {
     margin-top: 10px;
   }
  }
}

.full {
 width: 100%;
 margin: auto;
}

.caption{
height: 100%;
color: $caption_color;
text-align: center;
vertical-align: middle;
font-size: $caption_font_size;
}
.project_info{
color: $text-color;
text-align: left;
float: left;
font-size: 14px;
line-height:2em;
padding-bottom: 20px;
//padding-left: 600px;
//padding-top: 20px;
position: relative;
    @media only screen and (max-width: 1200px) {
    width: 50%;
    }
    @media only screen and (max-width: 800px) {
    width: 100%;
    }
}
.video_embed{
display: block;
margin: 0 auto;
width: 480px;
height: 320px;
//padding-left: 20px;
//padding-right: 20px;
    @media only screen and (max-width: 800px) {
    width: 320px;
    height: 240px;
    }
}
.project_body{
    position: relative;
    display: block;
    @media only screen and (max-width: 686px) {
    width: 100%;
    }
            h5{
        width: 50%;
        font-size:24px;
        font-family: 'Fredoka One', cursive;
        text-align: left;
        padding-bottom: 5px;
        border-bottom-style: solid;
        border-bottom-width: 2.5px;
            @media only screen and (max-width: 1200px) {
                font-size:20px;
            }
            @media only screen and (max-width: 600px) {
                font-size:20px;
                line-height: 1.2em;
                padding-bottom: 0px;
            }
    }
}
.img_row{
height: 100%;
width: 100%;
overflow: hidden;
box-sizing:border-box;
padding: $img_spacing;
}
// project_img class takes images of 1200x800.
.project_img{
width: 45%;
height: 45%;
float: left;
object-fit: cover;
box-sizing: border-box;
padding: $img_spacing;
}
// img-half takes images of any size.
.img-half {
  width: 100%;
  padding: 4%;
  margin: auto;
  overflow: hidden;
}

.project-video {
  position: relative;
  padding-top: 20px;
  padding-bottom: 56.25%;
  overflow: hidden;
  display: block;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  padding-top: 20px;
}


/**
 * Blog  **********************************************************
 */

.thumbnail img{
width: 100%;
height: 230px;
position: absolute;
//left: -25%;
//top: -5%;
}

.blog_img {
width: 50%;
display: block;
padding-top:20px;
//padding-bottom: 20px;
margin-left: auto;
margin-right: auto;
}

.blog_caption {
height: 100%;
width: 100%;
color: $caption_color;
text-align: center;
vertical-align: middle;
font-size: $caption_font_size;
}

.blog-meta {
float: left;
font-size: $small-font-size;
color: $grey-color;
margin-bottom: 0px;
padding-top: 15px;
}
/**
 * Layout Misc  **********************************************************
 */
.span_row{
height: 100%;
width: 100%;
overflow: hidden;
padding: 2px;
}
.span_col{
width: 100%;
height: 100%;
float: left;
object-fit: cover;
padding: 3px;
}
.video {
width: 60%;
height: 100%;
overflow: hidden;
        @media only screen and (max-width: 800px) {
        width: 100%;
        height: 220px;
    }
}
.text {
width: 30%;
height: 100%;
overflow: hidden;
}
