<footer class="footer text-center">
  <!-- Copyright -->
  <div class="text-center p-3">
    © George Larkwright 2022.
  </div>
  <div class="text-center">
    <a href="mailto:george.larkwright@gmail.com"><i class="fa fa-envelope-square fa-2x"></i></a>
    <a href="https://twitter.com/Larkwrighter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
  </div>
</footer>


<!-- <div class="container">
    <footer class="footer">
      <div class="footer__inner">
        <div class="contact">
          <div class="contact__title">© George Larkwright 2022.</div>
          <ul class="contact__list list-reset">
              <a href="mailto:george.larkwright@gmail.com"><i class="fa fa-envelope-square fa-2x"></i></a>
              <a href="https://twitter.com/Larkwrighter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
          </ul>
        </div>
      </div>
    </footer>
  </div>   -->