<nav class="navbar navbar-expand-md navbar-light bg-primary fixed-top" id="navbar">
    <div class="container-fluid navbar-container">
      <div class="navbar-brand"><span>George Larkwright</span></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMobile" aria-controls="navbarMobile" aria-expanded="false" aria-label="Toggle navigation">
        <i class="toggler-icon fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarMobile">
        <ul class="navbar-nav ms-auto mb-lg-0">
          <li class="nav-item align-middle">
            <a class="nav-link" href="#gamesForLearning">Games for Learning</a>
          </li>
          <li class="nav-item">
            <div class="nav-link nav-divider">&</div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#interactiveFiction">Interactive Fiction</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">How I Work</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

<script>
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    var viewHeight = document.getElementById("banner").offsetHeight*0.85;
    var navHeight = document.getElementById("navbar").offsetHeight;
    if (document.body.scrollTop > viewHeight || document.documentElement.scrollTop > viewHeight ) {
        document.getElementById("navbar").style.top = "0px";
    } else {
        document.getElementById("navbar").style.top = "-85px";
    }
}
</script>