<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>The Subject | Press Kit</title>
  <meta name="description" content="The Subject is...">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel='stylesheet' href='{{ site.baseurl }}/css/subjectpresskit.css'>

</head>


<body>

<div class="master-container">
  <div class="head-container">
    <div class="masthead">
      <div class="header">
        <h1>The Subject</h1>
      </div>
    </div>
  </div>

  <div class="page-container">
    <div class="container">
      <div class="col-center">
        <div class="content">
          <div class="content-primary">
            <div class="divider-center">

            </div>
            <div class="content-title">
              <h4>The Subject is the world's smallest escape room.</h4>
              <p>Taking classic escape room gameplay, compressing it down to an uncomfortably small scale and mixing in a mind-bending narrative, The Subject is a truly unique experience for two or more players.</p>
            </div>
            <div class="video-center">
              <iframe class="responsive-iframe" src="https://player.vimeo.com/video/385343442" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
            <div class="divider-center" style="margin-top: 20px; margin-bottom: 20px;">

            </div>
          </div>

          <div class="content-table">
            <div class="row">
              <div class="col-2">
                <div class="col-image">
                  <img src="/img/thesubject3.jpg" style="width: 100%; height: auto;">
                  <img src="/img/thesubject2.jpg" style="width: 100%; height: auto;">
                  <img src="/img/thesubject1.jpg" style="width: 100%; height: auto;">
                  <img src="/img/thesubject4.jpg" style="width: 100%; height: auto;">
                </div>
              </div>
              <div class="col-2">
                <div class="col-text">
                <h3>Description</h3>
                <p><b>The Subject</b> is an escape room experience like no other. The game is designed for multiple players; one player enters a small, cramped box, and is locked inside. The other player(s) must solve a series of puzzles to free their teammate. The twist? The information they need to solve the puzzles is on the inside of the box.
                </br></br>
                In the ultimate test of communication, concentration and calmness under pressure, players must work together to piece together a mysterious narrative, solve the puzzles, and free the subject from the box before their time is up...
                </br></br>
                The goal of the project is twofold: redefine what escape room games can be, and take them to a new level of intensity.
                </br></br>
                <h3>FAQs</h3>
                <p><b>Q. How long does the experience take to play?</b></p>
                <p>A. Players have a maximum time of 30 minutes to complete the game.</p>
                <p><b>Q. But what's the quickest a team has completed it?</b></p>
                <p>A. Just over 19 minutes.</p>
                <p><b>Q. Exactly how big is the box?</b></p>
                <p>The box is roughly 120cm long, 50cm wide and 70cm deep.</p>
                <p><b>Q. More importantly, is the box safe?</b></p>
                <p>Of course. The box was built with player safety in mind, and there are a number of safety procedures in place to ensure that any risks are mitigated.</p>
                <p>The box is well ventilated, and a light is provided as part of the experience. The player is able to communicate with those outside throughout the game. A gamemaster is always overseeing the experience whilst a player is inside the box, and they can signal to the gamemaster if they want to get out before the game is over.</p>
                <p>The box, whilst secure, is easy to dismantle in the event of a medical emergency. The use of pin hinge fasteners allow the box to be completely taken apart in seconds.</p>
                <p>A full and detailed risk assessment is available on request.</p>
                <p>Whilst the box is safe, participants who suffer from claustrophobia are advised to avoid entering the box as part of the experience.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="content-primary">
            <div class="divider-center" style="margin-top: 20px; margin-bottom: 20px;">

            </div>

            <h3>Events and Coverage</h3>
            <p>An early build of The Subject received a preview showing at Newspeak House in July 2019. The project debuted as part of the Experiments in Play exhibition at Goldsmiths, University of London, in September 2019.
            </br></br>
            Previous press coverage includes <a href="https://metro.co.uk/2019/09/26/worlds-smallest-escape-room-shuts-coffin-induce-claustrophobia-dread-10811561/">Metro</a> and <a href="https://www.ladbible.com/news/news-worlds-smallest-escape-locks-you-in-a-coffin-20190926">LadBible</a>.
            </p>

            <h3>About George Larkwright</h3>
            <p>George Larkwright is a writer and game designer from London, UK. When he's not spending his time locking people in small boxes, he writes short, satirical narrative games.</p>

            <p><b>Email:</b> george.larkwright@gmail.com
            <p><b>Twitter:</b> @larkwrighter
            <p><b>Website:</b> <a href="wwww.georgelarkwright.com">georgelarkwright.com</a>


            <div class="divider-center" style="margin-top: 20px; margin-bottom: 20px;">

            </div>
            <p style="font-size: 10px">© George Larkwright 2020</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>