.gallery {
    width: calc(100vw * 0.85);
    position: relative;
    overflow-x: hidden;
    margin-top: 0;
    padding: 0;
    @media only screen and (min-width: $xxl) {
        width: calc(100vw * 0.60);
    }
    @media only screen and (max-width: $xxl) {
        width: calc(100vw * 0.80);
    }
    @media only screen and (max-width: $xl) {
        width: calc(100vw * 0.85);
    }
    @media only screen and (max-width: $md) {

    }
    @media only screen and (max-width: $sm) {
        width: calc(100vw * 0.90);
        // margin-top: calc(100vh * 0.06);
        max-width: none;
    }
    @media only screen and (max-width: $xs) {
        width: calc(100vw * 0.90);
    }
}

.gallery-header {
    border-radius: 2em;
    width: 100%;
    margin: 0 auto;
    background: white;
    // outline: 6px outset #DE235D;
    // outline-offset: -1px;
    margin-bottom: calc(var(--bs-gutter-x));
    flex-grow: 1;
    height: 100%;
    @media only screen and (max-width: 575.98px) {
        margin-bottom: 1vh;
    }  
}

.gallery-header-content {
    padding: 4%;
    padding-left: 6%;
    padding-right: 6%;
    h2 {
        margin: 0;
        margin-bottom: calc(var(--bs-gutter-x)/1.5);
        font-family: $header-font;
        font-weight: 500;
        font-size: var(--step-3);
        text-align: center;
        @media only screen and (min-width: $xxl) {
            font-size: var(--step-3);
            margin-bottom: calc(var(--bs-gutter-x)*1.5);
        }            
        @media only screen and (max-width: $sm) {
            font-size: var(--step-3);
            margin-top: calc(var(--bs-gutter-x)/2);
            margin-bottom: calc(var(--bs-gutter-x)/2);
        }  
    }
    p {
        margin: 0;
        font-size: var(--step-0);
        @media only screen and (min-width: $xxl) {
            font-size: var(--step-0);
        }   
    }

}

.gallery-item {
    border-radius: 2em;
    background: white;
    text-align: center;
    // outline: 6px outset #DE235D;
    // outline-offset: -1px;
    margin-bottom: calc(var(--bs-gutter-x));
    flex-grow: 1;
    height: 100%; 
}

.gallery-item-container {
    margin-bottom: calc(var(--bs-gutter-x));
    @media only screen and (max-width: 575.98px) {
        margin-bottom: 1vh;
    }   
}

.gallery-caption {
    padding-left: 8%;
    padding-right: 8%;
    h3 {
        margin-top: calc(var(--bs-gutter-x));
        margin-bottom: calc(var(--bs-gutter-x));
        font-family: $header-font;
        font-weight: 500;
        font-size: var(--step-2);
        text-align: center;
        line-height: var(--step-2);
        @media only screen and (min-width: $xxl) {
            font-size: var(--step-2);
            line-height: var(--step-2);
        }      
        @media only screen and (max-width: $md) {
            font-size: var(--step-2);
            margin-top: calc(var(--bs-gutter-x)/2);
            margin-bottom: calc(var(--bs-gutter-x)/2);
        }            
    }
    p {
        margin: 0;
        font-size: var(--step-0);
        @media only screen and (min-width: $xxl) {
            font-size: var(--step-0);
        }   
    }
    a:hover h3 {
        color: $pink;
        transition: ease-in 0.2s;
    }
}

.gallery-image {
    padding: 0vh;
    display: inline-block;
    img {
        align-self: center;
        object-position: top;
        object-fit: cover;
        display: block;
        position: relative;
        height: 50%;
        width: inherit;
        border-radius: 2em;
        @media only screen and (max-width: $sm) {
            width: 100%;
            border-radius: 2em;
        }
    }
}

/* Underline highlight - heading */
.gallery-header-content h2 span {
    position: relative;
    z-index: 1;
    padding-top: 0px;
    display: inline-block;
  }
  
  .gallery-header-content h2 span:before {
    content: "";
    position: absolute;
    height: 10%;
    bottom: 0;
    left: 0;
    top: 84%;
    right: 0;
    border-top: 6px solid $primary;
    border-radius: 1% 94% 33% 75%/9% 94% 33% 75%;
    border-color: $primary;
    background: $primary;
    z-index: -1;  
    -webkit-transform:rotate(-1deg);
    -moz-transform:rotate(-1deg);
    -ms-transform:rotate(-1deg);
    -o-transform:rotate(-1deg);
    transform:rotate(-1deg);
    @media only screen and (max-width: $lg) {
        border-top: 4px solid $primary;
    }
    @media only screen and (max-width: $sm) {
        border-top: 2px solid $primary;
    }
  }

// /* Underline highlight - hover */
// .gallery-caption h3 span {
//     position: relative;
//     z-index: 1;
//     padding-top: 0px;
//     display: inline-block;
//   }
  
//   .gallery-caption h3 span:before {
//     content: "";
//     opacity: 0;
//     position: absolute;
//     height: 10%;
//     bottom: 0;
//     left: 0;
//     top: 87%;
//     right: 0;
//     border-top: 4px solid $primary;
//     border-radius: 1% 94% 33% 75%/9% 94% 33% 75%;
//     border-color: $primary;
//     background: $primary;
//     z-index: -1;  
//     -webkit-transform:rotate(-1deg);
//     -moz-transform:rotate(-1deg);
//     -ms-transform:rotate(-1deg);
//     -o-transform:rotate(-1deg);
//     transform:rotate(-1deg);
//     @media only screen and (max-width: $lg) {
//         border-top: 4px solid $primary;
//     }
//     @media only screen and (max-width: $sm) {
//         border-top: 2px solid $primary;
//     }
//     &:hover {
//         opacity: 1;
//     }
//   }