<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <title>George Larkwright's Portfolio</title>
    <link rel=stylesheet href="//fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,900|Roboto+Mono:400,700">
    <link rel=stylesheet href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel=stylesheet href=https://storage.googleapis.com/code.getmdl.io/1.0.4/material.blue_grey-deep_orange.min.css>
    <link rel=stylesheet href=../css/styles/index.css>
    <script src=https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js></script>
    <script src=../js/scripts/jquery.min.js></script>
    <script src=../js/scripts/hammer.min.js></script>
    <script src=../js/scripts/index.js></script>
</head>

<body>
    <header>
	<img style="width:200px;height:200px;border-radius:50%;margin-right:40px;margin-top:8px;float:left;" src="../media/prof_pic.png">
        <h1>I'm <b style="color: #de235d;">George Larkwright</b>, a game designer & writer with an enthusiasm for crafting unique and meaningful playable experiences, and this is my portfolio.</h1>
        <div class=subtitle>
        </div>
        <div class=intro>
            <p>I make games that use play to educate and inform, that tell stories in new and dynamic ways, and that push the boundaries of the medium. I have experience making games using Unity, HTML/CSS and Javascript, C++, and in the physical space as well. I am adept at generating innovative ideas, prototyping features and mechanics, and documenting design processes as part of a larger team.</p>
            <p>You can find a selection of my games below, along with visual and written documentation, and playable builds where possible.</p>
            <b style="color: #de235d;">Email:</b> george.larkwright@gmail.com<br/>
            <b style="color: #de235d;">Twitter:</b> @Larkwrighter
        </div>
    </header>
    <main>
        <section class="project tall">
            <div class=info>
                <h2 style="margin-bottom: 16px">Chapter 1</h2>
                <p><b>Chapter 1</b> is an educational dungeon crawler designed to encourage young people to write their own stories, tackling 'blank page anxiety' and other barriers preventing young people from engaging with creative writing in the classroom.</p>
                <p>Players journey to the depths of a jungle in search of adventure, encountering different objects and obstacles on their travels. Players are required to write out their own solutions to these challenges in order to progress. The game uses natural language processing to generate new writing prompts based on what the player has already written, so players build their own story as they play.</p>
                <p>Modern pedagogical theory and research was central to the design and development of this game, with the final goal being a game that is both fun to play and delivers an impactful learning experience.</p>
                <div class=actions><a href="https://larkwrighter.itch.io/chapter-1">Playable Prototype</a>
                <a href=../media/Chapter1GameDesignDoc.pdf>Game Design Doc Extract (PDF)</a></div>
            </div>
            <div class=pages>
                <div class=page-scroll>
                    <div class="page no-scale image" style="background-color: #f2bfcf">
                        <div class="media loader-parent" style=color:#3c6caf>
                            <img src="../media/chapter1.png" style="max-height:130%; max-width:130%;">
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class=caption>
                            <p>Before beginning development of the game I ran multiple research workshops with young people aged 8-11 to gather their responses to various methods of encouraging creativity (through play or more traditional classroom techniques).</p>
                        </div>
                    </div>
                    <div class="page no-scale image" style="background-color: #f2bfcf">
                        <div class="media loader-parent" style=color:#3c6caf>
                            <img src="../media/chapter2.png" style="max-height:130%; max-width:130%;">
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class=caption>
                            <p>The design of Chapter One went through several paper prototypes. This one applies the concept to a boardgame, where the player collects cards with different prompts to write about as they progress round the board.</p>
                        </div>
                    </div>
                    <div class="page no-scale image" style="background-color: #f2bfcf">
                        <div class="media loader-parent" style=color:#3c6caf>
                            <img src="../media/chapter3.png" style="max-height:130%; max-width:130%;">
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class=caption>
                            <p>The final design saw me switch the boardgame for an overworld 'dungeon'. Instead of collecting cards, players interact with objects they find on their exploration.</p>
                        </div>
                    </div>
                    <div class="page no-scale image" style="background-color: #f2bfcf">
                        <div class="media loader-parent" style=color:#3c6caf>
                            <img src="../media/chapter4.png" style="max-height:130%; max-width:130%;">
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class=caption>
                            <p>Interacting with an object cause the game to switch to 'writing mode', in which players must complete a serious of written prompts to get past the obstacle.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="project tall">
            <div class=info>
                <h2 style="margin-bottom: 16px">Adulting?</h2>
                <p><b>Adulting?</b> is a physical game experience in which the player briefly steps into the shoes of a parent, tasked with completing three different chores in the midst of a set of chaotic deadlines, all whilst their child vies for their attention.</p>
                <p>The game melds WarioWare-style minigames with a physical game-space and control inputs, and a real actor, straddling the line between game and interactive theatre piece. It asks players to consider what they prioritise, both inside and outside the game world.</p>
                <p>I came up with the initial concept of the game, and worked in a team of three to bring the idea to life. I designed and programmed the Tax Returns minigame. I was also responsible for the development of the overarching game systems in Unity, knitting together the three minigames to run simultaneously on three different monitors.</p>
                <div class=actions><a href=../media/AdultingGameDesignDoc.pdf>Game Design Doc (PDF)</a>
                </div>
            </div>
            <div class=pages>
                <div class=page-scroll>
                    <div class="page video" style="background-color: #f2bfcf">
                        <iframe src="https://player.vimeo.com/video/325532325" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen style="margin-top: 3%"></iframe>
                        <div class="caption" style="margin-top: 3%">
                            <p>The idea for Adulting? came about at a game jam with the theme 'overlooked'. The game was workshopped extensively before the final version was developed in Unity.</p>
                        </div>
                    </div>
                    <div class="page no-scale image" style="background-color: #f2bfcf">
                        <div class="media loader-parent" style=color:#3c6caf>
                            <img src="../media/adulting2.png" style="max-height:120%; max-width:120%;">
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class="caption">
                            <p>Players have to traverse a home-like playspace to get to the different minigames, all whilst trying to placate 'their' child.</p>
                        </div>
                    </div>
                    <div class="page video" style="background-color: #f2bfcf">
                        <iframe src="https://player.vimeo.com/video/353032160" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen style="margin-top: 3%"></iframe>
                        <div class="caption" style="margin-top: 3%">
                            <p>No playthrough of Adulting? is the same, with the child role completely improvised. The player can also choose the degree with which they interact with the child.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="project tall">
            <div class=info>
                <h2 style="margin-bottom: 16px">The Subject</h2>
                <p><b>The Subject</b> is an escape room game that seeks to take classic escape game tropes and minimise them to a smaller scale - the game takes place inside a small, dark box.</p>
                <p>The game is designed for multiple players; one player enters a small, cramped box, and is locked inside. The other player(s) must solve a series of puzzles to free their teammate. The twist? The information they need to solve the puzzles is on the inside of the box. The game features an emergent narrative experienced asymmetrically by both players.</p>
                <p>The Subject was a solo project. It received a public debut at the 2019 'Hack & Scratch' event at Newspeak House. Previous press coverage includes <a href="https://metro.co.uk/2019/09/26/worlds-smallest-escape-room-shuts-coffin-induce-claustrophobia-dread-10811561/">Metro</a> and <a href="https://www.ladbible.com/news/news-worlds-smallest-escape-locks-you-in-a-coffin-20190926">LadBible.</a></p>
                <div class=actions><a href=../media/TheSubjectDocumentation.pdf>Project Documentation PDF</a> <a href=https://georgelarkwright.com/thesubject>Press Kit</a></div>
            </div>
            <div class=pages>
                <div class=page-scroll>
                        <div class="page video" style="background-color: #f2bfcf">
                            <iframe src="https://player.vimeo.com/video/385343442" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen style="margin-top: 3%"></iframe>
                            <div class="caption">
                                <p>The game takes place inside a 120cm x 70cm x 50cm box. One player is locked inside, with only a torch and a small crack in the box to speak through.</p>
                            </div>
                        </div>
                    <div class="page no-scale image" style="background-color: #f2bfcf">
                        <div class="media loader-parent" style=color:#3c6caf>
                            <img src="../media/subject1.png" style="max-height:130%; max-width:130%;">
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class="caption">
                            <p>Player(s) outside of the box must use the materials provided to solve four puzzles, unlock the box, and free the other player.</p>
                        </div>
                    </div>
                    <div class="page no-scale image" style="background-color: #f2bfcf">
                        <div class="media loader-parent" style=color:#3c6caf>
                            <img src="../media/thesubject3.jpg" style="max-height:130%; max-width:130%;">
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class="caption">
                            <p>The inside of the box is cramped, but full of information, both useful and not so useful, to convey to the player(s) outside the box. With a running time of 30 minutes, the game is a physical challenge as well as a mental one.</p>
                        </div>
                    </div>
                    <div class="page no-scale image" style="background-color: #f2bfcf">
                        <div class="media loader-parent" style=color:#3c6caf>
                            <img src="../media/thesubject4.png" style="max-height:130%; max-width:130%;">
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class="caption">
                            <p>Players must collaborate to piece together a mysterious narrative told through the puzzles.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="project tall">
            <div class=info>
                <h2 style="margin-bottom: 16px">Freelance Work - Nexus Studios</h2>
                <p>I worked as a consultant game designer with award-winning film and interactive media studio Nexus Studios, working on briefs for clients including UNICEF, Facebook and Google.</p>
        		<p>I rapidly developed unique game ideas, mechanics and narrative structures for interactive applications and mobile games to briefs from . I worked with storyboard artists to bring these ideas to life, before iterating with creative directors and preparing a pitch document for the client.</p>
                <p>I developed mechanics and game feel documentation for a successful mobile game pitch to UNICEF - this project was later developed and released as <a href="https://play.google.com/store/apps/details?id=com.unicef.rightrunner&hl=en_GB">Right Runner</a>.</p>
                <p>
                <div class=actions><a href="https://nexusstudios.com/" target="_blank">Nexus Studios Website</a></div>
            </div>
            <div class=pages>
                <div class=page-scroll>
                    <div class="page no-scale image" style="background-color: #f2bfcf">
                        <div class="media loader-parent" style=color:#3c6caf>
                            <img src="../media/nexus1.png" style="max-height:120%; max-width:120%;">
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class="caption">
                            <p>The work with UNICEF involved designing a game that would empower and inspire people to affect the change they want to see in the world.</p>
                        </div>
                    </div>
                    <div class="page no-scale image" style="background-color: #f2bfcf">
                        <div class="media loader-parent" style=color:#3c6caf>
                            <img src="../media/nexus3.png" style="max-height:120%; max-width:120%;">
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class="caption">
                            <p>I frequently used paper and card to create 3D visualisations of game concepts and mechanics.</p>
                        </div>
                    </div>
                    <div class="page no-scale image" style="background-color: #f2bfcf">
                        <div class="media loader-parent" style=color:#3c6caf>
                            <img src="../media/nexus2.png" style="max-height:120%; max-width:120%;">
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class="caption">
                            <p>My time at Nexus also saw me create rough sketches of UX flow for interactive AR applications.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="project tall">
            <div class=info>
                <h2 style="margin-bottom: 16px">To Bee or Not To Bee</h2>
                <p><b>To Bee or Not To Bee</b> is a virtual reality experience that places the player in the body of a bee, delivering a new perspective on natural life and the world around us. Players must buzz their way around a garden environment, flying from flower to flower by using a unique control combination of motion controls and head-tracking.</p>
                <p>The game was developed by a team of five, and I was the narrative designer. I crafted a story that tied in with the gameplay, and wrote a voiceover dialogue script that combined education and entertainment to teach the player about bees.</p>
                <p>I also supported with initial gameplay systems design.</p>
                <div class=actions><a href=../media/BeeDocumentation.pdf>Project Documentation PDF</a></div>
            </div>
            <div class=pages>
                <div class=page-scroll>
                      <div class="page video" style="background-color: #f2bfcf">
                        <iframe src="https://player.vimeo.com/video/328389901" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen style="margin-top: 3%"></iframe>
                        <div class="caption" style="margin-top: 3%">
                            <p>The game was built in Unity for the Oculus using OpenVR. Players flap their arms to move, guiding their movement with turns of the head.</p>
                        </div>
                    </div>
                    <div class="page no-scale image" style="background-color: #f2bfcf">
                        <div class="media loader-parent" style=color:#f2bfcf>
                            <img src="../media/bee2.png" style="max-height:120%; max-width:120%;">
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class="caption">
                            <p>The goal of the game is to educate players about the importance of bees. The game uses colourful geometric graphics to appeal to the target audience of young people.</p>
                        </div>
                    </div>
                    <div class="page no-scale image" style="background-color: #f2bfcf">
                        <div class="media loader-parent" style=color:#f2bfcf>
                            <img src="../media/bee5.PNG" style="max-height:115%; max-width:115%;">
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class="caption">
                            <p>The game utilises snappy and humorous voice over lines to add flavour and replayability to the experience.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h2>Selected Other Projects</h2>
                <div class="row">
                  <div class="column">
                    <div class="content">
                      <img src="../media/puzzle6.gif" alt="Boxes" style="width:100%; height: 230px; overflow: hidden">
                        <p style="margin-top: 10px; margin-bottom: 10px;"><b>Boxes</b> is a deceptively simple minimalist puzzle game about rearranging boxes.</p>
                        <div class=actions><a href=https://larkwrighter.itch.io/boxes>Play on Itch.io</a></div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="content">
                      <img src="../media/theinsect.png" alt="The Insect" style="width:100%; height: 230px; overflow: hidden">
                        <p style="margin-top: 10px; margin-bottom: 10px;"><b>The Insect</b> is a game about climate change, habitat renewal, and crawling on cadavers.</p>
                        <div class=actions><a href=https://larkwrighter.itch.io/the-insect>Play on Itch.io</a></div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="content">
                      <img src="../media/rs2.png" alt="Reclaiming Solitude" style="width:100%; height: 230px; overflow: hidden">
                      <p style="margin-top: 10px; margin-bottom: 10px;"><b>Reclaiming Solitude</b> is a short piece about slowing down and taking some time for yourself.</p>
                      <div class=actions><a href="https://larkwrighter.itch.io/reclaiming-solitude">Play on Itch.io</a></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="column">
                    <div class="content">
                      <img src="../media/bc1.png" alt="Book of Cruelty" style="width:100%; height: 230px; overflow: hidden">
                        <p style="margin-top: 10px; margin-bottom: 10px;"><b>Book of Cruelty</b> is a horrifying historical document reimagined as interactive fiction. The piece tries to affect the player's expectations before they begin playing.</p>
                        <div class=actions><a href=https://larkwrighter.itch.io/book-of-cruelty>Play on Itch.io</a></div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="content">
                      <img src="../media/tweeter.png" alt="Nobody Cares What You Have To Say" style="width:100%; height: 230px; overflow: hidden">
                        <p style="margin-top: 10px; margin-bottom: 10px;"><b>Nobody Cares What You Have To Say</b> is a choice-driven compendium of short stories poking fun at the social media experience.</p>
                        <div class=actions><a href="https://larkwrighter.itch.io/nobody-cares-what-you-have-to-say">Play on Itch.io</a></div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="content">
                      <img src="../media/gloow.png" alt="Gloow" style="width:100%; height: 230px; overflow: hidden">
                        <p style="margin-top: 10px; margin-bottom: 10px;"><b>Gloow</b> is an experimental arcade game controlled through player movement. It was developed in OpenFrameworks.</p>
                        <div class=actions><a href=https://vimeo.com/337113451>Video Documentation</a></div>
                    </div>
                  </div>
                </div>
        </section>
    </main>
    <footer>
        <p>© George Larkwright 2020. Website Template by <a href=http://roman.nurik.net>Roman Nurik</a>.</p>
    </footer>
</body>

</html>
