<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <title>Design Portfolio Demo</title>
    <link rel=stylesheet href="//fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,900|Roboto+Mono:400,700">
    <link rel=stylesheet href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel=stylesheet href=https://storage.googleapis.com/code.getmdl.io/1.0.4/material.blue_grey-deep_orange.min.css>
    <link rel=stylesheet href=../css/styles/index.css>
    <script src=https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js></script>
    <script src=../js/scripts/jquery.min.js></script>
    <script src=../js/scripts/hammer.min.js></script>
    <script src=../js/scripts/index.js></script>
</head>

<body>
    <header>
        <h1>I'm <b style="color: #de235d;">George Larkwright</b>, a game designer & writer with a passion for crafting unique and meaningful playable experiences, and this is my portfolio.</h1>
        <div class=subtitle>
        </div>
        <div class=intro>
            <p>I am an ambitious, personable and self-starting creative with a passion for crafting unique and meaningful digital experiences.</p>
            <p>I make games that use play to satirise the society we live in, that tell stories in new and dynamic ways, and that strive to subvert the status quo, sparking discussion and debate. I also enjoy writing for the stage and screen.</p>
            <p>You can find my games and interactive fiction projects here, along with visual documentation, and links to design docs or playable builds.</p>
        </div>
    </header>
    <main>
        <section class="project tall">
            <div class=info>
                <h2>Chapter One</h2>
                <p class=date>May 2018 – Present</p>
                <p><b>Chapter One</b> is my current solo project. It is an educational dungeon crawler designed to develop creativity in young people through creative writing.</p>
                <p>Players explore an overworld dungeon, encountering different obstacles that require the player to write out their own solutions using nothing more than a keyboard and their imagination.
                <p>The game uses natural language processing to generate new writing prompts based on what the player has already written, so the player slowly creates a story without realising it. The game tackles 'blank page anxiety' and other barriers preventing young people from engaging with creative writing in the classroom.</p>
                <p>The game is being developed with Javascript and HTML5.</p>
                <div class=actions><a href=http://www.google.com>Game Design Doc PDF</a></div>
            </div>
            <div class=pages>
                <div class=page-scroll>
                    <div class="page no-scale image" style="background-color: #c2d6f2">
                        <div class="media loader-parent" style=color:#3c6caf>
                            <div style="transform: translate(0, 22%);" class="device-frame device-nexus5_light"><img src=../media/project1_detail1.png></div>
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class=caption>
                            <p>Before beginning development of the game I ran multiple workshops with young people aged 8-11 to ascertain their responses to various methods of encouraging creativity (through play or more traditional classroom techniques).</p>
                        </div>
                    </div>
                    <div class="page video" style="background-color: #ffe0b2">
                        <div class="media loader-parent" style=color:#fb8c00>
                            <div class="device-frame device-browser">
                                <video loop preload=none>
                                    <source src=../media/project1_archive.mp4 type=video/mp4>
                                    <source src=../media/project1_archive.webm type=video/webm>
                                </video><img class=thumb src=../media/project1_archive-thumb.png></div>
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class=caption>
                            <p>The design of Chapter One went through several paper prototypes. This one applies the concept to a boardgame, where the player collects cards with different prompts to write about as they progress round the board.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="project tall">
            <div class=info>
                <h2>Adulting?</h2>
                <p class=date>October 2018 – January 2019</p>
                <p><b>Adulting?</b> is a physical game experience in which the player briefly steps into the shoes of a parent, tasked with completing three different chores in the midst of a set of chaotic deadlines, all whilst their child vies for their attention.</p>
                <p>The game melds WarioWare-style minigames with a physical game-space and control inputs, and a real actor, straddling the line between game and interactive theatre piece. It forces players to examine what they prioritise, both inside and outside the game world.</p>
                <p>I came up with the initial concept of the game, and worked in a team of three to bring the idea to life. I designed and programmed the Tax Returns minigame. I was also responsible for the development of the overarching game systems in Unity, knitting together the three minigames to run simultaneously on different monitors.</p>
                <div class=actions><a href=../media/AdultingGameDesignDoc.pdf>Game Design Doc PDF</a> <a href=https://georgelarkwright.com/projects/1adulting/>Website</a></div>
            </div>
            <div class=pages>
                <div class=page-scroll>
                    <div class="page video" style="background-color: #ffe0b2">
                        <iframe src="https://player.vimeo.com/video/325532325" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen style="margin-top: 3%"></iframe>
                        <div class="caption" style="margin-top: 3%">
                            <p>The idea for Adulting? came about at a game jam with the theme 'overlooked'. The game was workshopped extensively before the final version was developed in Unity.</p>
                        </div>
                    </div>
                    <div class="page no-scale image" style="background-color: #c2d6f2">
                        <div class="media loader-parent" style=color:#3c6caf>
                            <img src="../media/adulting2.png" style="max-height:120%; max-width:120%;">
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class="caption">
                            <p>Players have to traverse a home-like playspace to get to the different minigames, all whilst trying to placate 'their' child.</p>
                        </div>
                    </div>
                    <div class="page video" style="background-color: #ffe0b2">
                        <iframe src="https://player.vimeo.com/video/353032160" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen style="margin-top: 3%"></iframe>
                        <div class="caption" style="margin-top: 3%">
                            <p>No playthrough of Adulting? is the same, with the child role completely improvised. The player can also choose the degree with which they interact with the child.</p>
                        </div>
                    </div>
            </div>
        </section>
        <section class="project tall">
            <div class=info>
                <h2>The Subject</h2>
                <p class=date>March 2019 - April 2019</p>
                <p><b>The Subject</b> is an escape room game that seeks to take classic escape game tropes and minimise them to a smaller scale - the game takes place inside a small, dark box.</p>
                <p>It is designed for two players: Player One will be locked inside the box. Player Two has to help them escape. Players have to work together to solve the puzzles and find the code that will unlock the box. The game features an emergent narrative experienced asymmetrically by both players.</p>
                <p>The Subject was a solo project. It received a public debut at the 2019 'Hack & Scratch' event at Newspeak House.</p>
                <div class=actions><a href=../media/TheSubjectDocumentation.pdf>Project Documentation PDF</a> <a href=https://georgelarkwright.com/projects/1thesubject/>Website</a></div>
            </div>
            <div class=pages>
                <div class=page-scroll>
                    <div class="page no-scale image" style="background-color: #c2d6f2">
                        <div class="media loader-parent" style=color:#3c6caf>
                            <img src="../media/subject0.png" style="max-height:120%; max-width:120%;">
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class="caption">
                            <p>The game takes place inside a 120cm x 70cm x 50cm box. One player is locked inside, with only a torch and a small crack in the box to speak through.</p>
                        </div>
                    </div>
                    <div class="page no-scale image" style="background-color: #c2d6f2">
                        <div class="media loader-parent" style=color:#3c6caf>
                            <img src="../media/subject1.png" style="max-height:130%; max-width:130%;">
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class="caption">
                            <p>Player(s) outside of the box must use the materials provided to solve four puzzles, unlock the box, and free the other player.</p>
                        </div>
                    </div>
                    <div class="page no-scale image" style="background-color: #c2d6f2">
                        <div class="media loader-parent" style=color:#3c6caf>
                            <img src="../media/subject2.png" style="max-height:130%; max-width:130%;">
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class="caption">
                            <p>The inside of the box is cramped, but full of information, both useful and not so useful, to convey to the player(s) outside the box. With a running time of 30 minutes, the game is a physical challenge as well as a mental one.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="project tall">
            <div class=info>
                <h2>Freelance Work - Nexus Studios</h2>
                <p class=date>March 2019 - May 2019</p>
                <p>Lorem ipsum Eu voluptate veniam do magna dolore reprehenderit esse ad in amet Excepteur aute in consequat nulla in dolore reprehenderit commodo irure nostrud nulla nostrud nisi sed exercitation sed mollit.</p>
                <p>I worked on briefs </p>
                <p>Consectetur pariatur ex consequat elit esse magna commodo ea cillum Excepteur labore adipisicing.</p>
                <div class=actions><a href="https://nexusstudios.com/" target="_blank">Nexus Studios Website</a></div>
            </div>
            <div class=pages>
                                <div class=page-scroll>
                    <div class="page no-scale image" style="background-color: #c2d6f2">
                        <div class="media loader-parent" style=color:#3c6caf>
                            <img src="../media/bee2.png" style="max-height:110%; max-width:110%;">
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class="caption">
                            <p>The game takes place inside a 120cm x 70cm x 50cm box. One player is locked inside, with only a torch and a small crack in the box to speak through.</p>
                        </div>
                    </div>
                    <div class="page no-scale image" style="background-color: #c2d6f2">
                        <div class="media loader-parent" style=color:#3c6caf>
                            <img src="../media/bee2.png" style="max-height:120%; max-width:120%;">
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class="caption">
                            <p>Player(s) outside of the box must use the materials provided to solve four puzzles, and unlock </p>
                        </div>
                    </div>
                    <div class="page image" style="background-color: #c5cae9">
                        <div class="media loader-parent">
                            <div><img src="../media/bee5.PNG" style="max-height:120%; max-width:120%;"></div>
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class=caption>
                            <p>Lorem ipsum Excepteur sed eiusmod eu exercitation deserunt dolor occaecat aute voluptate proident ut ut sed.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="project tall">
            <div class=info>
                <h2>To Bee or Not To Bee</h2>
                <p class=date>February 2019 - March 2019</p>
                <p><b>To Bee or Not To Bee</b> is a virtual reality experience that places the player in the body of a bee, delivering a new perspective on natural life and the world around us. Players must buzz their way around a garden environment, flying from flower to flower by using a unique control combination of motion controls and head-tracking.</p>
                <p>The game was developed by a team of five, and I was the narrative designer. I created a backstory for the playable character (disgruntled bee-hater Nigel, who wakes up to find himself in the body of a bee and is guided around the world by an annoyingly friendly narrator), and wrote a voiceover dialogue script that weaved together story, in-game prompts and educational information to teach the player about bees.</p>
                <p>I also supported with initial gameplay design.</p>
                <div class=actions><a href=../media/BeeDocumentation.pdf>Project Documentation PDF</a></div>
            </div>
            <div class=pages>
                <div class=page-scroll>
                      <div class="page video" style="background-color: #ffe0b2">
                        <iframe src="https://player.vimeo.com/video/328389901" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen style="margin-top: 3%"></iframe>
                        <div class="caption" style="margin-top: 3%">
                            <p>The game was built in Unity for the Oculus using OpenVR. Players flap their arms to move, guiding their movement with turns of the head.</p>
                        </div>
                    </div>
                    <div class="page no-scale image" style="background-color: #c2d6f2">
                        <div class="media loader-parent" style=color:#3c6caf>
                            <img src="../media/bee2.png" style="max-height:120%; max-width:120%;">
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class="caption">
                            <p>The game uses cartoonish graphics to appeal to the target audience of young people. The goal of the game is to educate players about the importance of bees.</p>
                        </div>
                    </div>
                    <div class="page no-scale image" style="background-color: #c2d6f2">
                        <div class="media loader-parent" style=color:#3c6caf>
                            <img src="../media/bee5.png" style="max-height:115%; max-width:115%;">
                            <svg class=loading-spinner width=64 height=64 viewbox="0 0 64 64">
                                <circle cx=32 cy=32 r=20 fill=none stroke-width=6 stroke-miterlimit=10 stroke=#ccc></circle>
                            </svg>
                        </div>
                        <div class="caption">
                            <p>The game script features a number of bark lines that teach the player about the importance of bees, through entertaining dialogue between the player character, disgruntled Nigel, and his bee friend, the Narrator.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h2>Selected Other Projects</h2>
                <div class="row">
                  <div class="column">
                    <div class="content">
                      <img src="../media/pd3.png" alt="Political Discourse Circa 2019" style="width:100%; height: 230px; overflow: hidden">
                        <p style="margin-top: 10px; margin-bottom: 10px;"><b>Political Discourse Circa 2019</b> is a whimsical wander through the influences and powers behind modern-day politics, made in Bitsy.</p>
                        <div class=actions><a href=https://larkwrighter.itch.io/political-discourse-circa-2019>Play on Itch.io</a></div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="content">
                      <img src="../media/tweeter.png" alt="Nobody Cares What You Have To Say" style="width:100%; height: 230px; overflow: hidden">
                        <p style="margin-top: 10px; margin-bottom: 10px;"><b>Nobody Cares What You Have To Say</b> is an interactive fiction collection examining the distortion of reality by social media.</p>
                        <div class=actions><a href=https://larkwrighter.itch.io/political-discourse-circa-2019>Website Page</a></div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="content">
                      <img src="../media/prisepartielogo.PNG" alt="The Ballad of Sir Prisepartie" style="width:100%; height: 230px; overflow: hidden">
                      <p style="margin-top: 10px; margin-bottom: 10px;"><b>The Ballad of Sir Prisepartie</b> is a comedy text adventure game about a medieval knight tasked with planning the Princess' birthday party.</p>
                      <div class=actions><a href=https://larkwrighter.itch.io/the-ballad-of-sir-prisepartie>Play on Itch.io</a></div>
                    </div>
                  </div>
                </div>
                            <div class="row">
                  <div class="column">
                    <div class="content">
                      <img src="../media/bc1.png" alt="Book of Cruelty" style="width:100%; height: 230px; overflow: hidden">
                        <p style="margin-top: 10px; margin-bottom: 10px;"><b>Book of Cruelty</b> is a horrifying historical document reimagined in Twine. The piece tries to affect the player's expectations before they begin playing.</p>
                        <div class=actions><a href=https://larkwrighter.itch.io/book-of-cruelty>Play on Itch.io</a></div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="content">
                      <img src="../media/tweeter.png" alt="Nobody Cares What You Have To Say" style="width:100%; height: 230px; overflow: hidden">
                        <p style="margin-top: 10px; margin-bottom: 10px;"><b>Gloow</b> is an experimental arcade game controlled through player movement. It was developed in OpenFrameworks.</p>
                        <div class=actions><a href=https://vimeo.com/337113451>Video Documentation</a></div>
                    </div>
                  </div>
                </div>
        </section>
    </main>
    <footer>
        <p>Template by <a href=http://roman.nurik.net>Roman Nurik</a> using HTML/Swig, JavaScript/jQuery, Sass, Gulp, and more. <a href=https://github.com/romannurik/portfolio>See the source</a></p>
    </footer>
</body>

</html>